h1 {
    font-size: 6em;
    padding: 0 20px;
    text-align: center;
}

h3, figure {
    font-size: 3em;
    padding: 0 20px;
    text-align: center;
}

p {
    font-size: 2em;
}

.paraph {
    display: none;
    text-align: center;
}

.div-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-1{
    width: 90%;
    height: auto;
}

#image-1, #image-2{
    width: 70%;
    height: auto;
}

canvas {
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
  }

#annoucement{
    position: absolute;
    width: 100%;
    text-align: center;
    display: none;
}